@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Rubik&display=swap');

body
{
    margin: 0;
    font-family: "Rubik";
}

/* navbar.html navbar_loged.html */
.nav
{
    opacity: 99%;
    position: fixed;
    margin-top: 0;
}
.nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.nav li
{
    float: left;
}
#navbar
{
    width: 100%;
    background-color: #a2a2a2;
}
#navbar h1
{
    margin: 0;
}
.nav li a {
    display: block;
    color: #2e2e2e;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
}
.nav li a:hover
{
    cursor: pointer;
    background-color: #5e5e5e;
    color: #ffffff;
}
#logout
{
    float: right;
}

/* memes.php */
.meme
{
    width: 500px;
    height: 500px;
    text-align: center;
    margin: auto;
    transform: translate(0, 60%);
}

/* login.php */
.login_panel
{
	text-align: center;
	font-size: 15px;
	margin: auto;
	width: 300px;
    transform: translate(0, 60%);
}
p.header
{
	color: #2e2e2e;
	font-size: 50px;
	letter-spacing: 2px;
}
.form-control, .form-control:focus
{
    margin-top: 15px;
	border: 2px solid #5e5e5e;
	border-radius: 20px;
	box-shadow: none;
}
.btn.btn-primary, .btn.btn-primary:focus
{
    margin-top: 10px;
    background-color: #a2a2a2;
    border: 2px solid #5e5e5e;
    border-radius: 20px;
    height: 50px;
    width: 300px;
    color: #2e2e2e;
    box-shadow: none;
}
#info a
{
    text-decoration: none;
    font-weight: bold;
}
#error
{
    color: #d43030;
    font-weight: bold;
}

/* error.php */
.error h1
{
    text-align: center;
}
.error img
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}